.container,
html {
  height: 100vh;
}

.App,
#root,
body {
  height: 100%;
  font-family: poppins;
}
.add-full-height {
  height: 100%;
}
.m-r-10 {
  margin-right: 10px;
}
.m-t-100 {
  margin-top: 100px;
}
.m-r-20 {
  margin-right: 20px;
}
.m-r-5 {
  margin-right: 5px;
}
.m-t-10 {
  margin-top: 10px;
}
.add-full-width {
  width: 100%;
}
.add-half-width {
  width: 50%;
}
.add-half-height {
  height: 50%;
}
.right-corner {
  float: right;
}
.all-around-pad-15 {
  padding: 50px;
}
.add-qrt-width {
  width: 25%;
}
.add-qrt-height {
  height: 25%;
}
.tableview {
  display: table;
}
.table-cellview {
  display: table-cell;
}
.m-b-20 {
  margin-bottom: 20px;
}
.m-b-10 {
  margin-bottom: 10px;
}
.card-shadow {
  box-shadow: 5px 10px;
}
.add-scroll-bar {
  overflow-y: auto;
}
.white-color-text {
  color: white;
}
.image-box__overlay {
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  z-index: 2;
}
.center-child {
  text-align: center;
}
.red-text {
  color: red;
}

/* Pricing Page CSS start */
.wrapper {
  width: 900px;
  margin: 5% auto;
  height: 100%;
}
.pricing-page-container {
  width: 100wv;
  height: 100vh;
  font-family: poppins;
  background: #eee;
}
.single-price {
  width: 33%;
  background: #262626;
  float: left;
  margin-top: 2%;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
  transition: 0.9s;
}
.price {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 2px solid turquoise;
  margin: 5% auto 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.deals {
  margin-top: 10%;
}

.single-price {
  font-size: 18px;
  color: #fff;
  line-height: 3;
  text-transform: uppercase;
  height: 450px;
}
.price h2 {
  font-size: 38px;
  color: #fff;
}
.deals h4 {
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  color: #fff;
  line-height: 1;
}
.single-price:hover {
  background: turquoise;
  color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 1);
  transform: scale(1.1);
  z-index: 1;
  border-radius: 25px;
}
.single-price:hover .price {
  border-color: #fff;
}
.single-price a {
  text-decoration: none;
  background: turquoise;
  color: #fff;
  padding: 10px 60px;
  display: inline-block;
  margin: 10% auto;
  text-transform: uppercase;
  font-weight: bold;
}
.single-price h1 {
  font-size: 30px;
  margin-top: 10px;
}
.single-price:hover a {
  background: #262626;
  color: #fff;
}
.pricing-header {
  text-align: center;
  font-size: 50px;
}
/* Pricing Page CSS end */

/* Listing page css */

/* Listing page css end*/

.map {
  height: 300px;
}
.padding20-40 {
  padding: 20px 40px;
}
.bg-gray {
  background-color: #f6f6f6;
}
.float-container {
  border: 3px solid #fff;
  padding: 20px;
}

.float-child {
  width: 50%;
  float: left;
  padding: 20px;
}
